
* {
  box-sizing: border-box;
  list-style-type: none;
}

header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  z-index: 1000; 
}

header img {
  width:100%;
  height: 400px;
  object-fit: cover;
  display: block;

}
    
a {
 text-decoration: none;
color: #ffda79;
font-weight: 500;
position:5px 0;
padding:5px 0;
transition: color 0.3s ease;
}

nav {

  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(255, 255, 255, 0.2);
  padding: 20px 40px;
  display: flex;
  gap: 40px;
  backdrop-filter: blur(10px);
  border-radius: 85px;
  width:70%;
}

nav li a {
text-decoration: none;
color: white;
}

.kodfun-galeri {
  display: flex;
  height: 20rem;
  gap: 1rem;
}

ul {
  list-style-type:none; 
  margin:0; 
  padding: 0; 
  overflow:hidden; 
  background-color:#333; 
}

li { 
  float: left; 
}

li.dropdown { 
  display: inline-block; 
}

li a:hover, dropdown:hover .dropbtn { 
  background-color: pink; 
}

li a, .dropbtn { 
  display: inline-block; 
  color: white; 
  text-align: center; 
  padding: 14px 16px; 
  text-decoration: none; 
}

.dropdown-content { 
  display: none; 
  position: absolute; 
  background-color: pink; 
  min-width: 160px; 
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); 
  z-index: 1; 
} 

.dropdown-content a { 
  color: black; 
  padding: 12px 16px; 
  text-decoration: none; 
  display: block; 
  text-align: left; 
}

.dropdown-content a:hover { 
  background-color:#f1f1f1; 
}

.dropdown:hover .dropdown-content { 
  display:block; 
}

main {
  margin-top: 400px;
}

.kodfun-galeri > div {
  flex:1;
  border-radius: 1rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto 100%;
  transition: all .8s cubic-bezier(.25, .4, .45, 1.4);
}

.kodfun-galeri > div:hover {
  flex: 5;
}









